body {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "IBM Plex Mono", monospace;
}

main {
  text-align: center;
}

h1 {
  font-weight: 500;
  font-size: 2em;
}

canvas {
    border: 1px solid;
} 